pkgbase = t-pgsql
	pkgdesc = PostgreSQL database sync, backup and clone tool with notifications
	pkgver = 3.4.0
	pkgrel = 1
	url = https://github.com/Asimatasert/t-pgsql
	arch = any
	license = MIT
	depends = postgresql
	depends = curl
	depends = openssh
	depends = bash
	optdepends = zsh: for zsh completion support
	optdepends = bash-completion: for bash completion support
	optdepends = fish: for fish completion support
	source = t-pgsql-3.4.0.tar.gz::https://github.com/Asimatasert/t-pgsql/archive/refs/tags/v3.4.0.tar.gz
	sha256sums = 8fe43c12cde366afe992f74ac22877688aac7a81649424a251c94ffafbe0e9c4

pkgname = t-pgsql
